<h1> <%= @question.title %> </h1>

<p>
  <%= @question.body %>
</p>

<%= render @question.answers %>

<h2>answer this question:</h2>
<%= render 'answers/form' %>

<%= link_to "Go back to the list", questions_path %>
