<br>
<br>
<br>
<ul class="container">
  <div class="col-md-6 col-md-offset-3">

    <h1> <%= @question.title %> </h1>

    <h3> <%= @question.user.name if @question.user %></h3>

        <p>
          <%= @question.body %>
        </p>

        <% if @question.user == current_user %>

          <%= link_to "Edit", edit_question_path(@question) %>

          <%= link_to "Destroy", question_path(@question), method: :delete, data: {confirm: "are you sure?"} %>

        <% end %>


        <%= render @question.answers %>

        <h2>answer this question:</h2>

        <%= render 'answers/form' %>

<%= link_to "Go back to the list", questions_path %>

  </div>
</ul>
