<br>
<br>
<br>

<h1> <%= @question.title %> </h1>

<h3> <%= @question.user.name if @question.user %></h3>

<p>
  <%= @question.body %>
</p>
<% if @question.user_id == current_user.id %>
<%= link_to "Destroy", question_path(@question), method: :delete, data: {confirm: "are you sure?"} %>
<% end %>

<%= render @question.answers %>

<h2>answer this question:</h2>
<%= render 'answers/form' %>



<%= link_to "Go back to the list", questions_path %>
