<h1>Log In</h1>
<%= form_for :login do |x| %>
  <div>
    <%=x.label :email %>
    <%=x.text_field :email %>
  </div>
  <div>
    <%=x.label :password %>
    <%=x.password_field :password %>
  </div>
  <div>
    <%=x.submit 'Log In'%>
  </div>
<% end %>
