<br>
<br>

<h1>Sign Up</h1>
<%= form_for @user do |x| %>
  <div class= "form-group">
    <%= x.label :name %>
    <%= x.text_field :name %>
  </div>
  <div class= "form-group">
    <%= x.label :email %>
    <%= x.text_field :email %>
  </div>
  <div class= "form-group">
    <%= x.label :password %>
    <%= x.password_field :password %>
  </div>
  <div class= "form-group">
    <%= x.label :password_confirmation %>
    <%= x.password_field :password_confirmation %>
  </div>
  <div class= "form group">
    <%= x.submit class: "btn btn-default"%>
  </div>
<% end %>
